body {
  margin: 0;
  font-family: 'Almarai', sans-serif !important;
  font-family: 'Belanosima', sans-serif !important;
  font-family: 'Cairo', sans-serif !important;
  font-family: 'Rakkas', cursive !important;
  font-family: 'Tajawal', sans-serif !important;
  font-weight: 900 !important;
  overflow-x: hidden;
}

/**Style Class Contact top of web Site */
.contactNavbar {
  background: linear-gradient(#3372b8, #004796) !important;
  height: 80px;
}

.whatsapp {
  width: 40px;
  height: 40px;
  margin-top: -25px;
}

.dataContact {
  display: inline-block;
}

.dataContact p {
  line-height: 10px;
}

.listContact, .listContact2 {
  text-decoration: none;
  list-style: none;
}

.listContact li, .listContact2 li {
  display: inline-block;
  margin: 5px;
  font-size: 25px;
  color: white;
}

.listContact2 li {
  font-size: 16px;
}

.useImage {
  background: linear-gradient(#3372b8, #004796) !important;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  line-height: 35px;
  border: 2px solid white;
  margin-top: 15px;
}

#dropdown-basic {
  background: transparent;
  border: none;
}

.menuLang {
  background: transparent;
  border: none;
  color: white;
  outline: none;
}

.lang {
  background: #004796;
  padding: 10px;
}

.verticalLine {
  width: 2px;
  height: 8vh;
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}




/**Style NavBar */
.navBar {
  position: sticky;
  top: 0;
  z-index: 1000; 
  background-color:white;
}

.links {
  font-size: 18px !important;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  position: relative;
}

.links::before {
  position: absolute;
  content: "";
  width: 0;
  bottom: 0;
  left: 0;
  border-top: 0px solid;
  transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -ms-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
}

.links:hover::before {
  width: 100%;
  border-top: 3px solid;
}

.links:hover {
  color: #ff681a !important
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  top: 25px;
  border: none;
}

.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
  font-weight: 900;
}

.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover {
  color: #ff681a !important;
}




/**Style home */

.home {
  background-image: url(./images/download.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}


/**Style Caursol */
#titleCaursol {
  font-family: Macondo, cursive;
}

.infoCaursol {
  position: absolute;
  top: 13%;
  right:10%;
  width: 23%;
  background: #00000029;
  color:white;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 25px;
}


.city{
  position: absolute;
  top:70%;
  left:8%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 20px;
  width:50%;
  padding: 60px;
}
.city p {
  color:#004796;
  font-weight: bolder;
}

.city select{
  width:40%;
  border: 1px solid #ced4da;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: rgba(248,249,250,1) !important;
  padding:5px;
  outline: none;
}
.city button{
  background-color:#ff681a;
  color:white;
}
.city button:hover{
  background-color: #ff681a !important;
  color:white;
}


/**Destnation */
.path{
  width:15%;
  height: 9px;
  border-radius: 10px;
  margin: 20px auto;
  background-color: #f19466;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.path .circle{
  position: absolute;
  width:11px;
  height: 11px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #ff681a;
  opacity: 1;
  top:-1px;
  left:0;
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.path .circle:hover{
  animation-play-state: paused;
}
.redSea{
  background-image: url(./images/map-home.png);
  background-repeat: no-repeat;
  background-position: right;
}
.redSea .slick-slider{
  position: relative;
}

.redSea .slick-arrow {
  background-color: #004796  !important;
  width:50px !important;
  height:50px !important;
  position: absolute;
  top:100% !important;
  padding: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  margin: auto;
}
.redSea .slick-prev{
  left:4% !important;
}
.redSea .slick-next{
  left:35% !important; 
}
.redSea .slick-dots{
  display: none !important;
}
.description{
  width: 75%;
  text-align: left !important;
}
@keyframes move{
  0%{
    left:0;
  }
  100%{
    left:93%;
  }
}


/**tours */
.cityTours{
  width: 100%;
  height:55vh;
  background-image: url(../src/images/city-tour.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.productOne , .productTwo , .productThree{
  width:95% !important;
  height: 35vh !important;
  background-image: url(../src/images/abudabbab_lagoon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: white !important;
  font-size: 25px;
  position: relative;
}
.productTwo{
  background-image: url(../src/images/wady_elgemal_marsaalam.jpg);
}
.productThree{
  background-image: url(../src/images/snorkeling_with_dolphins_marsaalam.jpg);
}
.details{
  position: absolute;
  top:50%;
}


/**media query */
@media (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .infoCaursol{
    width:80%;
    left:3%;
  }
  .contactNavbar {
    display: none;
  }
  .city{
    width:95%;
    left:2%;
    top:56.5%;
    padding:20px
}
  .detailsCity{
    flex-direction: column;
  }
  .detailsCity select{
    width:90%;
    margin:10px
  }
  .redSea  .slick-arrow{
    top:102% !important;
  }
  .description{
    width: 100%;
  }
  .description p{
    text-align: center;
    margin-top: 10px;
  }
  .containerData{
    flex-direction: column;
  }
  .redSea{
    height: 95vh;
  }
  .s{
    margin-top: 550px !important;
  }
}